body {
	background: black;
	font-family: "Comic Neue";
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding-top: 10px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

.postcard-header h1 {
	width: 90%;
	margin: 0;
	padding: 5px;
	padding-left: 15px;
	color: purple;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: solid grey;
}

p {
	font-size: 13.5px;
	margin-bottom: 2px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(90, 195, 255);
	padding: 6px;
	border: none;
	border-bottom: solid rgb(23, 76, 150);
	border-right: solid rgb(23, 76, 150);
}

button:hover {
	background-color: rgb(49, 128, 174);
	padding: 6px;
	border: none;
	border-bottom: solid rgb(14, 51, 103);
	border-right: solid rgb(14, 51, 103);
}

.icon {
	font-size: 55px;
	color: rgb(116, 92, 250);
	padding-top: 10px;
}

i {
	margin: 10px;
}

i:hover {
	color: rgb(56, 37, 160);
}
